{{!-- Partial for user.handlebars --}}
<div id="{{id}}" class="user-card d-flex flex-column align-items-center col-lg-2 py-3 rounded">
  <figure class="med-professional-img">
    <img src="/img/medical-professional-icon.png" alt="medical professional" width="140" height="140">
  </figure>

  <h2 class="user-heading">{{first_name}} {{last_name}}</h2>
  <h3 class="user-subheading">{{role}}</h3>
  <button id="{{id}}" type="button" class="btn btn-primary mt-3">Select</button>
</div><!-- /.col-lg-4 -->