{{!-- HEADER --}}
<main class="py-3">
	<div class="row justify-content-md-center">
		<div class="col-xl-5 col-lg-6 col-md-8">
			<div class="section-title text-center title-ex1">
				<h2>Dashboard</h2>
			</div>
		</div>
{{!-- ASIDE SECTION --}}
		<div class="container bootstrap snippets bootdey">
			<div class="row ng-scope">
				<div class="col-md-3">
					<div class="panel panel-default py-3 rounded">
            <div class="panel-body text-center">
							<h3 class="m0 text-bold">Medical Professional</h3>
							<div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://xsgames.co/randomusers/avatar.php?g=female" alt="Contact"></div>
							<td><span class="badge badge-soft-success mb-2 fs-3">{{user.role}}</span></td>
							<div class="mv-lg">
								<p>Name: {{user.first_name}} {{user.last_name}}</p>
								<p>Username: {{user.username}}</p>
								<p>Email: {{user.email}}</p>
							</div>
							<div id="btn-logout">
								<a class="btn btn-sm" href="/user-select">Logout</a>
							</div>
            </div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="panel panel-default py-3 rounded">
						<div class="panel-body">
							{{!-- PATIENT LIST SECTION--}}
							<div class="container">
								<div class="row align-items-center">
										<div class="col-md-6">
												<div class="mb-3">
														<h5 class="card-title">Patient List</h5>
												</div>
										</div>
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="table-responsive">
											<table id="patients-table" class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead class="rounded">
                          <tr>
														<th scope="col">First Name</th>
														<th scope="col">Last Name</th>
														<th scope="col">DOB</th>
														<th scope="col">Height</th>
														<th scope="col">Email</th>
														<th scope="col" style="width: 200px;">View Prescriptions</th>
													</tr>
                        </thead>
												{{#each patients as |patient|}} 
                        <tbody>
													<tr>
														<td class="pt-fname">
															<img src="https://xsgames.co/randomusers/avatar.php?g=male" alt="patient-pic" class="avatar-sm rounded-circle me-2"/>
                              <a href="#" class="text-body">{{patient.first_name}}</a>
														</td>
                            <td class="pt-lname">{{patient.last_name}}</td>
														<td class="pt-dob">{{formatDate patient.dob 'MMM Do YYYY'}}</td>
														<td class="pt-age">{{patient.height}}</td>
														<td class="pt-email">{{patient.email}}</td>
														<td>
															<ul class="list-inline mb-0">
																<li class="list-inline-item">
																{{!-- onclik btn feat to patient --}}
																	<button id="view-btn" class="btn btn-primary">View</button>
																</li>
															</ul>
														</td>
													</tr>
                        </tbody>
                        {{/each }} 
											</table>
										</div>
									</div>
								</div>
							</div>
						</div> 
          </div>
        </div>
      </div>
    </div>
	</div>
</main>
<script src="/js/dashboard.js"></script>