{{!-- HEADER --}}
<main class="py-3">
	<div class="row justify-content-md-center">
		<div class="col-xl-5 col-lg-6 col-md-8">
			<div class="section-title text-center title-ex1">
				<h2>Dashboard</h2>
			</div>
		</div>
{{!-- ASIDE SECTION --}}
		<div class="container bootstrap snippets bootdey">
			<div class="row ng-scope">
				<div class="col-md-3">
					<div class="panel panel-default py-3 rounded">
            <div class="panel-body text-center">
							<h3 class="m0 text-bold">Medical Professional</h3>
							<div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://xsgames.co/randomusers/avatar.php?g=female" alt="Contact"></div>
							<td><span class="badge badge-soft-success mb-2 fs-3">Name: {{patient.first_name}} {{patient.last_name}}</span></td>
							<div class="mv-lg">
								<p>DOB: {{formatDate patient.dob 'MMM Do YYYY'}}</p>
								<p>Height: {{patient.height}}</p>
								<p>Weight: {{patient.weight}}</p>
							</div>
            </div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="panel panel-default py-3 rounded">
						<div class="panel-body">
							{{!-- PRESCRIPTIONS LIST SECTION--}}
							<div class="container">
								<div class="row align-items-center">
										<div class="col-md-6">
												<div class="mb-3">
														<h5 class="card-title">Prescriptions List</h5>
												</div>
										</div>
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="table-responsive">
											<table id="prescriptions-table" class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead class="rounded">
                          <tr>
														<th scope="col">Med Name</th>
														<th scope="col">Brand</th>
														<th scope="col">Dosage</th>
														<th scope="col">Quantity</th>
														<th scope="col">Dispensed on</th>
													</tr>
                        </thead>
												{{#each meds as |med|}} 
                        <tbody>
													<tr>
														<td class="med-name">{{med.name}}</td>
                            <td class="pt-lname">{{med.maker}}</td>
														<td class="pt-dob">{{med.prescription.dose}}</td>
														<td class="pt-age">{{med.prescription.quantity}}</td>
														<td class="pt-email">{{formatDate med.prescription.dispense_date 'MMM Do YYYY'}}</td>
													</tr>
                        </tbody>
                        {{/each }} 
											</table>
										</div>
									</div>
								</div>
							</div>
						</div> 
          </div>
        </div>
      </div>
    </div>
	</div>
</main>